{% extends 'index.html' %}
{% load staticfiles %}

{% block developer %}
   <link href="{% static 'css/page.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="container" id="project" style="width: 700px; height: 400px; float: left">
	<div class="row">
        <div class="col-md-7 " style="width: 650px; height: 600px;">

<div class="panel panel-default" style="width: 650px; height: 600px;">
  <div class="panel-heading">  <h4 >{{ object.title }}</h4></div>
   <div class="panel-body">

    <div class="box box-info">

        <div class="container" style="width: 600px;">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
             <li><a href="/developers_project/{{ object.get_absolute_url  }}">Developers</a></li>
                <li><a href="/files{{ object.get_absolute_url  }}">Files</a></li>
                <li><a href="/wiki{{ object.get_absolute_url  }}">Wiki-page</a></li>
                <li><a href="/discus{{ object.get_absolute_url  }}">Discussions</a></li>
            </ul>
        </div>

</div>
    <div class="text-center" >
    <div><a href="{% url 'wiki_change'  pk=object.pk %}" class="top-menu"><span class="glyphicon glyphicon-pencil"></span></a></div>
    {% for w in wiki %}
        {% ifequal w object.wiki %}

        {{ w.title }}
            <ul></ul>
            <div style="width: 600px;">
        {{ w.txt }}
            </div>
        {% endifequal %}
    {% endfor %}
     </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
    </div>
    </div>
</div>

</div>


{% endblock %}

